h1{
    text-decoration: underline;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-align: justify;
    text-decoration: crimson;
}